.conjuntocard {
    padding: 50px;
    display: flex;
    align-items: center;

    .card {
        background-color: $secondarycolor !important;
        color: $textcolor;
        padding: 20px;

        .card-title {
            text-align: center;
            color: $textcolor;
        }
    }

}

// Animaciones
.col1 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 1.5s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.col2 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 2s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.col3 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 2.5s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.col4 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 3s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.col5 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 3.5s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.col6 div{
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 4s both
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}


.conjuntocard.card div,
.col div:hover{
    background-color: $acentcolor !important;
    width: 104%;
    transition-duration: 1s;
}