.formulario {
    display: grid;
    grid-template-rows: auto auto auto auto;
    max-width: 100%;
	margin: 50px;
	padding: 40px;
    color: #ffffff;
    border: $acentcolor solid 1px;
}

.boton {
    display: grid;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;

    .botonenviar {
        color: $textcolor !important;
        font-size: 18px;
        font-weight: 350;
        padding: 0.5em 1.2em;
        background: $bordercolor;
        border-radius: 4px;
    }
}

.botonenviar:hover {
    color: $maincolor !important;
    font-weight: 500;
    background: $acentcolor;
    transition: all 0.2s ease;
}

#centrar { width: 60%; margin: 0 auto; }