.formulario {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
    max-width: 100%;
	margin: 100px 350px 250px 350px;
	padding: 40px;
    color: $acentcolor;
    border: $acentcolor solid 1px;

    input {
        background-color: $maincolor;
    }

    textarea {
        background-color: $maincolor;
    }
}

.boton {
    display: grid;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;

    .botonenviar {
        color: $textcolor !important;
        font-size: 18px;
        font-weight: 350;
        padding: 0.5em 1.2em;
        background: $acentcolorvar;
        border-radius: 4px;
    }
}

.botonenviar:hover {
    color: $maincolor !important;
    font-weight: 500;
    background: $acentcolor;
    transition: all 0.2s ease;
}

// #centrar { width: 100%; margin: 0 auto; }