header{
    background-color: $maincolor;

    .navbar {
        .nav-item.active a,
        .nav-item a:hover {
        font-weight: 700;
        color: $acentcolor!important;
        }

        a {
            color: $textcolor !important;
        }
    }
}

