.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 300px 50px 200px;
    margin: 150px 0 200px 0;
    align-items: center;
    

    .intro_imagen {
        padding-right: 20px;
    
        img {
            width: auto;
            max-width: 100%;
        }
    }
}