.intro {
    padding: 60px;
    display: flex;
    width: 90%;
    flex: 1;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

    h3 {
        color: $textcolor;
        text-align: right;
        font-size: 100%;
    }

    .texto-parrafo {
        color: $textcolor;
        font-size: 18px;
    }
}