@media screen and (max-width: 1450px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 250px 0px 100px;
    }

    .conjuntoservicios {
        margin-bottom: 200px;
    
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 250px 0px 250px;
        }
    }

    .conjuntosobremi {
        margin-bottom: 200px;
    
        .gridsobremi {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            margin: 150px 250px 200px 250px;
            column-gap: 50px;
        }
    }
    
    .formulario {
        margin: 100px 300px 200px 300px;
    }
}

@media screen and (max-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 200px 0px 80px;
    }

    .conjuntoservicios {
        margin-bottom: 200px;
    
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 100px 0px 100px;
        }
    }

    .conjuntosobremi {
        margin-bottom: 200px;
    
        .gridsobremi {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            margin: 150px 200px 150px 200px;
            column-gap: 50px;
        }
    }

    .formulario {
        margin: 100px 250px 150px 250px;
    }
}

@media screen and (max-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0 200px 50px 80px;
        margin: 100px 0 0 0;
    }

    .conjuntoservicios {
        margin-bottom: 200px;
    
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 80px 0px 80px;
        }
    }

    .conjuntosobremi {
        margin-bottom: 200px;
    
        .gridsobremi {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: center;
            margin: 100px 150px 100px 150px;
            column-gap: 50px;
            gap: 20px;
            text-align: center;
        }

        .sobremi03 {
            padding: 30px;
    
            .certificado {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 20px;
            }
        }

        .sobremi04 {
            padding: 30px;
    
            .programas {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 20px;
            }
        }
    }

    .formulario {
        margin: 80px 100px 150px 80px;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0 40px 50px 40px;
        margin: 50px 0 0 0;
    }

    .conjuntoservicios {
        margin-bottom: 200px;
    
        .grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            gap: 20px;
            padding: 0 80px 0px 80px;
        }
    }

    .conjuntosobremi {
        margin-bottom: 200px;
    
        .gridsobremi {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-items: center;
            margin: 100px 50px 100px 50px;
            column-gap: 50px;
            gap: 20px;
            text-align: center;
        }

        .sobremi03 {
            padding: 10px 10px 10px 10px;
    
            .certificado {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

        .sobremi04 {
            padding: 10px 10px 10px 10px;
    
            .programas {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }
    }

    h1 {
        font-size: 30px !important;
        margin-left: 50px;
    }

    h4 {
        font-size: 20px !important;
    }

    p {
        font-size: 14px;
    }

    ul {
        font-size: 14px;
    }

    .formulario {
        margin: 80px 50px 100px 50px;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0 200px 50px 20px;
        margin: 150px 0 0 0;
        align-items: center;
    }

    .conjuntoservicios {
        margin-bottom: 10px;
    
        .grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            gap: 20px;
            padding: 0 20px 0px 20px;
            margin: 80px 0 50px 0;
        }
    }
    
    h1 {
        /*font-size: 18px !important;*/
        margin-left: 10px;
    }

    h4 {
        font-size: 14px !important;
    }

    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }

    .texto {
        .texto-lectura {
            margin-left: 10px;
        }
        
    }

    .formulario {
        margin: 50px 20px 50px 20px;
        padding: 20px;

        .form-label {
            font-size: 14px;
        }

        .form-control {
            font-size: 12px;
        }
    }
}