.conjuntoservicios {
    margin-bottom: 200px;

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 300px 50px 300px;
        margin: 150px 0 200px 0;

        .servicios_imagen {
            padding-right: 20px;
        
            img {
                width: auto;
                max-width: 70%;
            }
        }
    
        .servicios_contenido {
            display: grid;
            grid-template-rows: auto;
            padding-right: 20px;
            padding-bottom: 10px;
            width: auto;
        }
    }
}