h1 {
    color: $textcolor;
    margin-top: 50px !important; 
    margin-left: 50px;
}

.titulo {
    letter-spacing: 0.05em;
    -webkit-animation:tracking-in-expand 1.5s cubic-bezier(.68,-.55,.265,1.55) both;animation:tracking-in-expand 1.5s cubic-bezier(.68,-.55,.265,1.55) both
}

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.texto {
    .texto-lectura {
        color: $textcolor;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 800px;
    }
}

.servicios_contenido {
    color: $textcolor;

    .numero {
        font-size: 14px;
        text-transform: inherit 5;
        letter-spacing: 0.15em;
    }

    .subtitulo_servicios {
        font-weight: 600;
        color: $acentcolor;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .parrafo_servicios {
        color: $secondtxtcolor;
    }

    ul.lista {
        color: $secondtxtcolor;
        column-count: 2;
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}

.sobremi_destacado {
    color: $textcolor;
    letter-spacing: 0.05em;
    
    .destacado {
        color: $acentcolor;
    }
}

.sobremi_contenido {
    color: $textcolor;

    .subtitulo_sobremi {
        font-weight: 600;
        color: $acentcolor;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    
    .parrafo_sobremi {
        color: $secondtxtcolor;
    }    
}


