@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

$mainfont: 'IBM Plex Sans', sans-serif;

$maincolor: #121212;
$textcolor: #E3E3E3;
$secondtxtcolor: #B9B9B9;
$secondarycolor: #292929;
$acentcolor: #BB86FC;
$acentcolorvar: #886baa;

$navbarcolor: #212529;
$bordercolor: #3E3E3E;