@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

$mainfont: 'IBM Plex Sans', sans-serif;

$maincolor: #121212;
$textcolor: #ffffff;
$secondarycolor: pink;
$acentcolor: yellow;

