@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #121212 !important;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #121212;
}
header .navbar .nav-item.active a,
header .navbar .nav-item a:hover {
  font-weight: 700;
  color: #BB86FC !important;
}
header .navbar a {
  color: #E3E3E3 !important;
}

h1 {
  color: #E3E3E3;
  margin-top: 50px !important;
  margin-left: 50px;
}

.titulo {
  animation: tracking-in-expand 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.texto .texto-lectura {
  color: #E3E3E3;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 800px;
}

.servicios_contenido {
  color: #E3E3E3;
}
.servicios_contenido .numero {
  font-size: 12px;
  line-height: 160%;
}
.servicios_contenido .subtitulo_servicios {
  font-weight: 700;
}
.servicios_contenido .parrafo_servicios {
  color: #B9B9B9;
}
.servicios_contenido ul.lista {
  color: #B9B9B9;
  -moz-column-count: 2;
       column-count: 2;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.intro {
  padding: 60px;
  display: flex;
  width: 90%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.intro h3 {
  color: #E3E3E3;
  text-align: right;
  font-size: 100%;
}
.intro .texto-parrafo {
  color: #E3E3E3;
  font-size: 18px;
}

.wsp {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 80px;
  border-radius: 8px;
  padding: 12px;
}

.footer {
  background-color: #121212;
  padding: 1em 0;
  text-align: center;
  color: #E3E3E3;
  border-top: #3E3E3E solid 1px;
  margin-top: auto;
}

.conjuntoservicios {
  margin-bottom: 200px;
}
.conjuntoservicios .grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 200px;
}
.conjuntoservicios .grid .servicios_imagen {
  padding-right: 20px;
}
.conjuntoservicios .grid .servicios_imagen img {
  width: auto;
  max-width: 70%;
}
.conjuntoservicios .grid .servicios_contenido {
  display: grid;
  grid-template-rows: auto;
  padding-right: 20px;
  padding-bottom: 10px;
  width: auto;
}

.conjuntocard {
  padding: 50px;
  display: flex;
  align-items: center;
}
.conjuntocard .card {
  background-color: #292929 !important;
  color: #E3E3E3;
  padding: 20px;
}
.conjuntocard .card .card-title {
  text-align: center;
  color: #E3E3E3;
}

.col1 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.col2 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.col3 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.col4 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.col5 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.5s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.col6 div {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.conjuntocard.card div,
.col div:hover {
  background-color: #BB86FC !important;
  width: 104%;
  transition-duration: 1s;
}

.formulario {
  width: 50%;
  max-width: 500px;
  margin: 50px;
  padding: 40px 0;
  color: #ffffff;
}
.formulario .btn button,
.formulario .btn button:hover {
  color: #b9b9b9;
}

.construccion {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 24px !important;
    margin-left: 35px;
  }
  .intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 35px !important;
  }
  h3 {
    text-align: left;
    font-size: 20px !important;
  }
  .texto-parrafo {
    color: #ffffff;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "card__imagen";
    transition: 200ms;
  }
  h1 {
    /*font-size: 18px !important;*/
    margin-left: 10px;
  }
  h4 {
    font-size: 14px !important;
  }
  .intro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 15px;
  }
  h3 {
    text-align: left;
    font-size: 16px !important;
  }
  .texto-parrafo {
    color: #ffffff;
    font-size: 14px;
  }
}/*# sourceMappingURL=estilos.css.map */